*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
} */
.container{
    width:80%;
    margin: auto;
}
header{
    height: 60px;
    padding: 10px 0;
    background-color: grey;
}
.header-content{
    display: flex;
    justify-content: space-between;
    
}
.header-content .brand{
    font-size: 30px;
    text-decoration: none;
    color: white;
}
nav ul{
    display: flex;
    list-style: none;
}
nav li a{
    display: block;
    color: white;
    text-decoration: none;
    min-width: 80px;
    padding: 5px;
    margin: 0px  5px;
}
/* ***************form********************* */
.section-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 60%;
    text-align: center;
background-color: rgb(3, 248, 146);
padding: 20px;

}
.section-form h2{
    font-size: 50px;
    letter-spacing: 2px;
    color:rgb(212, 0, 255) ;
}
.section-form form input{
    display: block;
    width: 100%;
    margin: 5px  0px;
    height: 30px;
    border: 1px solid #ddd;
    padding: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
}
.section-form form input[type="submit"]:hover{
    opacity: .5;
}
nav ul#user-info{
display: none;
}
/* ******************************************** */
.products{
    width: 65%;
    margin: 10px 0;
    
}
.product_item{
    display: flex;
    width: 100%;
    border: 1px solid #ddd;
    min-height: 150px;
    margin-bottom: 10px;
}
.product_item_img{
    
    width: 25%;
    margin-right: 10px;
}
.product_item_action{
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.product_item .add_to_cart{
    display: block;
    margin-left: auto;
    background-color: blue;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}
.product_item  .fav{
    display: block;
    cursor: pointer;
    width: 20px;
    margin-left: auto;
}
/* ******************************************* */
nav ul#user-info li i{
    color: #ddd;
    font-size: 25px;
    cursor: pointer;
}
nav ul#user-info li
{position: relative;
    margin: 0 10px;
}
nav ul#user-info li .badge{
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: red;
    color: #ddd;
    text-align: center;
    display: block;
    border-radius: 50%;
    top: -10px;
    right: -10px;
    font-size: 12px;
    display: none;
}
/* ******************************************* */
.carts_products{
    position: absolute;
    display: block;
    width: 200px;
    transform: translate(-40%,0);
    background-color: #eaeaea;
    top:56px;
padding: 10px;
border: 1px solid green;
display: none;
}
.carts_products a{
    display: block;
    color: rgb(250, 249, 249);
    margin: 4px  0;
    padding: 0px;
background-color: darkgreen;
text-align: center;

}